body {
   background-image: url(./docs/assets/images/background4.jpeg);
   background-size:100vw;

}

/* CANVAS */

#canvas {
    
    
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 55px;
    margin-top: 42px;

    font-family: fantasy;
    border-radius: 10px;

}


.main .overlay {
 width: 850;
 height: 400px;
 background-color: rgb(0, 0, 0);
}

.main .first-background {

    background-image: url(./docs/assets/images/Home1.jpeg);
    opacity: 1;

}

.main .second-background {
 
    background-image: url(./docs/assets/images/Quiditch_field.jpeg);

}

/* CANVAS BLOCK */

.main {
    width: 910px;
    height: 535px;
    background-image: url(./docs/assets/images/frameb.png);
    
    
    margin-top:  20px;;
    margin-left: 50px;
    color: white;
    

}

/* HEADER */
#header {
   
    display: flex;
	flex-direction: row;
    margin-left: 70px;

    align-content: center;
    /* box-shadow: 20px 20px 5px black; */

    
	
    
}

/* MENU */

#menu {

    color: white;
}

#popUp {

width: 200px;
height: 250px;
background-color: rgba(49, 45, 34, 0.7);
font-family: fantasy;
border-radius: 15px;

font-size: 16px;
color: black;


position: fixed;
top: 40vh;
left: 35vw;
} 

/* BUTTONS */

.hidden {
    visibility: hidden;
}

.matrix__button {

    border-radius: 10px;
    border: 10px 10px 10px 10px;
    border-color: gold;

    background-color: black;
    opacity: 0.6;
    
   
    padding: 15px 40px 10px 40px;
    /* background-image: url(./docs/assets/images/pattern.jpeg); */
    font-family:fantasy;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(232, 191, 79);
    margin-left: 100px;
    margin-top:  20px;
}

.popUp__button {
    margin-left: 0px;
    margin-top:  15px;
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;

    border-radius: 10px;
    border: 10px 10px 10px 10px;
    border-color: gold;

    
    background-image: url(./docs/assets/images/Home1.jpeg);
    font-family:fantasy;
    font-weight: bolder;
    font-size: 20px;
    color: rgb(49, 46, 38);

    
}



/* ranking */

#game .ranking {

    width: 200px;
    padding-left: 20px;

}

/* GAME */

#game {
    width: 100vw;
    display: flex;
    flex-direction: row;
    
    color: white;
  
}
